*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: rgb(37, 37, 37);
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #FFF;
}

form,
.items {
  max-width: 500px;
  width: 100%; 
  margin: auto;
  border-radius: 8px;
}

.items {
  overflow-wrap: break-word;
}

form {
  margin-top: 30px;
  border: 2px solid #4c4c4d;
  border-radius: 8px;
  color: #000;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.selected-list-background-color {
  background-color: #FFD34F;
}

.todo-icons {
  float: right;
  cursor: pointer;
}